.thehtml {
    background: url("../public/cosmos.jpg") no-repeat center fixed;     
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 1300px;
    position:fixed;
}
.bodyPage {
    font-size:50px;
    color: white;
    text-align:center;
}
.titleOne {
    font-size:3vw;
    color: white;
    text-align:center;
    padding-top: 10px;
}
.titleTwo {
    font-size:2.4vw;
    color: white;
    text-align:center;
}
.titleThree {
    font-size:2.2vw;
    color: white;
    text-align:center;
    padding-top: 25px;
}
.theButtons {
    font-size:1.5vw;
    background-color:rgba(0,0,0,0.5) ;
    color:white;
    text-align:center;
    border-style: solid;
    border-width: 2px;
    border-color:white;
    border-radius: 20px;
}

.theButtons:hover {
    background-color:rgba(255, 255, 255, 0.5) ;
}

.theButtonAbout {
    font-size:1.5vw;
    background-color:rgba(0,0,0,0.5) ;
    color:white;
    text-align:center;
    border-style: solid;
    border-width: 2px;
    border-color:white;
    border-radius: 6px;
}
.theButtonAbout:hover {
    background-color:rgba(255, 255, 255, 0.5) ;
}
.aboutText{
    font-size:2vw;
    padding-left: 50px;
    padding-right: 50px;
}
.aboutTextDiv{
    padding-top: 20px;
}
.buttonHolderDiv{
    padding-left: 2vw;
    padding-right: 2vw;
}