
.thehtml {
    background: url("../public/cosmos.jpg") no-repeat center fixed;     
    background-size: cover;
    position:relative;
    height: 100%;
    overflow-y: hidden;
-webkit-overflow-scrolling: touch;
}
.bodyPage {
    font-size:50px;
    color: white;
    text-align:center;
}
.titleOne {
    font-size:2.6vw;
    color: white;
    text-align:center;
    padding-top: 10px;
}
.titleTwo {
    font-size:2.2vw;
    color: white;
    text-align:center;
}
.titleThree {
    font-size:2vw;
    color: white;
    text-align:center;
    padding-top: 25px;
}
.theButtons {
    font-size:1.5vw;
    background-color:rgba(0,0,0,0.5) ;
    color:white;
    text-align:center;
    border-style: solid;
    border-width: 2px;
    border-color:white;
    border-radius: 20px;
}

.theButtons:hover {
    background-color:rgba(255, 255, 255, 0.5) ;
}

.theButtonAbout {
    font-size:1.5vw;
    background-color:rgba(0,0,0,0.5) ;
    color:white;
    text-align:center;
    border-style: solid;
    border-width: 2px;
    border-color:white;
    border-radius: 6px;
}
.theButtonAbout:hover {
    background-color:rgba(255, 255, 255, 0.5) ;
}
.aboutText{
    font-size:1.2vw;
    padding-left: 50px;
    padding-right: 50px;
}
.aboutTextDiv{
    padding-top: 15px;
}
.buttonHolderDiv{
    padding-left: 2vw;
    padding-right: 2vw;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
  }
  .titleDesc{
    font-size: 1.5vw;
  }